<!DOCTYPE html>
<html>
<head>
	<title>BlackCat Browser</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div id="particles-js"></div>
	<form action="/search">
		<input type="text" name="prompt" placeholder="Search anything...">
		<button type="submit"></button>
	</form>
	<div class="footer">
  		<p>Tired of browsing? Ask me!</p>
	</div>

	<script type="text/javascript" src="static/js/particles/particles.js"></script>
    <script type="text/javascript" src="static/js/particles/app.js"></script>
</body>
</html>
